.DS_Store
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
env
log.txt
*.o
*.db
*.exe
*.dll
.vscode/
build/
build_vs/
CPackConfig.cmake
CPackSourceConfig.cmake
debug.log
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
Build